# Framework
Flask==3.1.1
#ORM trabaja con la base de datos
Flask-SQLAlchemy==3.1.1
#jwt
Flask-JWT-Extended==4.7.1
#Validacion y serializacion de datos
marshmallow==4.0.1
#Driver de conexcion
PyMySQL==1.1.1
#servidor WSGI
gunicorn==23.0.0
#Utilidades de seguridad y pss
Werkzeug==3.1.3